```{=html}
<%/* so category filtering works */%>
<table class="listing-table" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid #ddd; padding: 8px;">Image</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Title</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Event Website</th>
        <th style="border: 1px solid #ddd; padding: 8px;">YouTube Playlist</th>
      </tr>
    </thead>
    <tbody>
      <% for (const item of items) { %>
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <a href="<%- item.path %>" class="listing-image">
              <img src="<%- item.image %>" width="100" height="100" style="max-width: 100%; height: auto;" />
            </a>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <p><%= item.title %></p>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <a href="<%- item.path %>" target="_blank" class="listing-url button">Event Website</a>
          </td>
          <td style="border: 1px solid #ddd; padding: 8px;">
            <a href="<%- item.playlist %>" target="_blank" class="listing-url button">YouTube Playlist</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  
```